<style>#[[Farbe#id]] {
pointer-events:none;
opacity: 0.5;
}
.basefieldinput {
  width: 100%!important;
}
</style>
<div class="defaulttemplate">
<details><summary  class="btn btn-primary" style="width: 100%">Thema und Musik</summary>
<table class="table" style="border-collapse: collapse;">
<tr class="">
<td class="bg-primary text-white">Thema: </td>
<td>[[Thema]]</td><td class="alert alert-warning"> 👈 Trage hier einen aussagekräftigen Titel für dein Thema ein!</td>
</tr>
<tr class="">
<td class="bg-primary text-white">Foto: </td>
<td>[[Bild]]</td><td class="alert alert-warning"> 👈 Lade ein Foto für die Titel-Folie hoch!</td></tr>
<tr><td class="bg-primary text-white">Farbschema</td><td><label for="Farbe"><input type="color" id="color" name="color" ></label><br>
Aktueller Farbcode: [[Farbe]]<br><script>// Farbe aus ColorPicker auslesen
var theInput = document.getElementById("color");
var theColor = theInput.value;
theInput.addEventListener("input", function() {
// Farbcode (Hex) schreiben
document.getElementById("[[Farbe#id]]").value = theInput.value;
}, false);</script></td><td class="alert alert-warning"> 👈 Wähle hier eine 🎨Akzentfarbe. Wähle eine kräftige, helle Farbe.</td>
</tr>
<tr class="">
<td class="bg-primary text-white">Musik: </td>
<td>[[Musik]]<br><details><summary>Hinweis für Lehrkräfte</summary><i>Die Musik muss manuell hinzugefügt werden. Erstellen Sie in Moodle ein Verzeichnis und laden Sie dort die <a href="https://fdagner.notion.site/Datenbank-Slideshow-Infovideo-99164ab7f9954d08a1a5480855f531ad">Musikdateien</a> hoch. Vergeben Sie eindeutige Dateinamen, die im Feld eingetragen werden. Passen Sie den Link zum Verzeichnis in der Vorlage Einzelansicht an.</i></details></td><td class="alert alert-warning"> 👈 Wähle einen Audiotrack aus!
</td>
</tr>
</tbody>
</table></details>
<details><summary  class="btn btn-primary" style="width: 100%">Folie 1</summary>
<table class="table" style="border-collapse: collapse;"><tbody>
<tr class="">
<td class="bg-primary text-white">Foto: </td>
<td>[[Bild1]]</td><td class="alert alert-warning"> 👈 Lade ein Foto für die Folie hoch!</td></tr><tr class="">
<td class="bg-primary text-white">Text: </td>
<td>[[Text1]]</td><td class="alert alert-warning"> 👈 Schreibe einen kurzen Text für die Folie</td></tr><tr class="">
<td class="bg-primary text-white">Zeit: </td>
<td>[[Folie1]]</td><td class="alert alert-warning"> 👈 Wähle die Anzeigendauer der Folie in Sekunden</td></tr></tbody></table></details>

<details><summary  class="btn btn-primary" style="width: 100%">Folie 2</summary>
<table class="table" style="border-collapse: collapse;"><tbody>
<tr class="">
<td class="bg-primary text-white">Foto: </td>
<td>[[Bild2]]</td><td class="alert alert-warning"> 👈 Lade ein Foto für die Folie hoch!</td></tr><tr class="">
<td class="bg-primary text-white">Text: </td>
<td>[[Text2]]</td><td class="alert alert-warning"> 👈 Schreibe einen kurzen Text für die Folie</td></tr><tr class="">
<td class="bg-primary text-white">Zeit: </td>
<td>[[Folie2]]</td><td class="alert alert-warning"> 👈 Wähle die Anzeigendauer der Folie in Sekunden</td></tr></tbody></table></details>

<details><summary  class="btn btn-primary" style="width: 100%">Folie 3</summary>
<table class="table" style="border-collapse: collapse;"><tbody>
<tr class="">
<td class="bg-primary text-white">Foto: </td>
<td>[[Bild3]]</td><td class="alert alert-warning"> 👈 Lade ein Foto für die Folie hoch!</td></tr><tr class="">
<td class="bg-primary text-white">Text: </td>
<td>[[Text3]]</td><td class="alert alert-warning"> 👈 Schreibe einen kurzen Text für die Folie</td></tr><tr class="">
<td class="bg-primary text-white">Zeit: </td>
<td>[[Folie3]]</td><td class="alert alert-warning"> 👈 Wähle die Anzeigendauer der Folie in Sekunden</td></tr></tbody></table></details>

<details><summary  class="btn btn-primary" style="width: 100%">Folie 4</summary>
<table class="table" style="border-collapse: collapse;"><tbody>
<tr class="">
<td class="bg-primary text-white">Foto: </td>
<td>[[Bild4]]</td><td class="alert alert-warning"> 👈 Lade ein Foto für die Folie hoch!</td></tr><tr class="">
<td class="bg-primary text-white">Text: </td>
<td>[[Text4]]</td><td class="alert alert-warning"> 👈 Schreibe einen kurzen Text für die Folie</td></tr><tr class="">
<td class="bg-primary text-white">Zeit: </td>
<td>[[Folie4]]</td><td class="alert alert-warning"> 👈 Wähle die Anzeigendauer der Folie in Sekunden</td></tr></tbody></table></details>

<details><summary  class="btn btn-primary" style="width: 100%">Folie 5</summary>
<table class="table" style="border-collapse: collapse;"><tbody>
<tr class="">
<td class="bg-primary text-white">Foto: </td>
<td>[[Bild5]]</td><td class="alert alert-warning"> 👈 Lade ein Foto für die Folie hoch!</td></tr><tr class="">
<td class="bg-primary text-white">Text: </td>
<td>[[Text5]]</td><td class="alert alert-warning"> 👈 Schreibe einen kurzen Text für die Folie</td></tr><tr class="">
<td class="bg-primary text-white">Zeit: </td>
<td>[[Folie5]]</td><td class="alert alert-warning"> 👈 Wähle die Anzeigendauer der Folie in Sekunden</td></tr></tbody></table></details>

<details><summary  class="btn btn-primary" style="width: 100%">Folie 6</summary>
<table class="table" style="border-collapse: collapse;"><tbody>
<tr class="">
<td class="bg-primary text-white">Foto: </td>
<td>[[Bild6]]</td><td class="alert alert-warning"> 👈 Lade ein Foto für die Folie hoch!</td></tr><tr class="">
<td class="bg-primary text-white">Text: </td>
<td>[[Text6]]</td><td class="alert alert-warning"> 👈 Schreibe einen kurzen Text für die Folie</td></tr><tr class="">
<td class="bg-primary text-white">Zeit: </td>
<td>[[Folie6]]</td><td class="alert alert-warning"> 👈 Wähle die Anzeigendauer der Folie in Sekunden</td></tr></tbody></table></details>

<details><summary  class="btn btn-primary" style="width: 100%">Folie 7</summary>
<table class="table" style="border-collapse: collapse;"><tbody>
<tr class="">
<td class="bg-primary text-white">Foto: </td>
<td>[[Bild7]]</td><td class="alert alert-warning"> 👈 Lade ein Foto für die Folie hoch!</td></tr><tr class="">
<td class="bg-primary text-white">Text: </td>
<td>[[Text7]]</td><td class="alert alert-warning"> 👈 Schreibe einen kurzen Text für die Folie</td></tr><tr class="">
<td class="bg-primary text-white">Zeit: </td>
<td>[[Folie7]]</td><td class="alert alert-warning"> 👈 Wähle die Anzeigendauer der Folie in Sekunden</td></tr></tbody></table></details>

<details><summary  class="btn btn-primary" style="width: 100%">Folie 8</summary>
<table class="table" style="border-collapse: collapse;"><tbody>
<tr class="">
<td class="bg-primary text-white">Foto: </td>
<td>[[Bild8]]</td><td class="alert alert-warning"> 👈 Lade ein Foto für die Folie hoch!</td></tr><tr class="">
<td class="bg-primary text-white">Text: </td>
<td>[[Text8]]</td><td class="alert alert-warning"> 👈 Schreibe einen kurzen Text für die Folie</td></tr><tr class="">
<td class="bg-primary text-white">Zeit: </td>
<td>[[Folie8]]</td><td class="alert alert-warning"> 👈 Wähle die Anzeigendauer der Folie in Sekunden</td></tr></tbody></table></details>

<details><summary  class="btn btn-primary" style="width: 100%">Folie 9</summary>
<table class="table" style="border-collapse: collapse;"><tbody>
<tr class="">
<td class="bg-primary text-white">Foto: </td>
<td>[[Bild9]]</td><td class="alert alert-warning"> 👈 Lade ein Foto für die Folie hoch!</td></tr><tr class="">
<td class="bg-primary text-white">Text: </td>
<td>[[Text9]]</td><td class="alert alert-warning"> 👈 Schreibe einen kurzen Text für die Folie</td></tr><tr class="">
<td class="bg-primary text-white">Zeit: </td>
<td>[[Folie9]]</td><td class="alert alert-warning"> 👈 Wähle die Anzeigendauer der Folie in Sekunden</td></tr></tbody></table></details>

<details><summary  class="btn btn-primary" style="width: 100%">Folie 10</summary>
<table class="table" style="border-collapse: collapse;"><tbody>
<tr class="">
<td class="bg-primary text-white">Foto: </td>
<td>[[Bild10]]</td><td class="alert alert-warning"> 👈 Lade ein Foto für die Folie hoch!</td></tr><tr class="">
<td class="bg-primary text-white">Text: </td>
<td>[[Text10]]</td><td class="alert alert-warning"> 👈 Schreibe einen kurzen Text für die Folie</td></tr><tr class="">
<td class="bg-primary text-white">Zeit: </td>
<td>[[Folie10]]</td><td class="alert alert-warning"> 👈 Wähle die Anzeigendauer der Folie in Sekunden</td></tr></tbody></table></details>