/*
 * Datenbankvorlage Slideshow
* Version 0.2
 * @Autor 2022 Florian Dagner
 * @license CC BY-NC-SA 2.0 DE
 */

/* Bilder Breite und Animation  */
.capimg {
    width: 100%;
    margin: 0 auto;
  }
  
  .capimg img {
    width: 100%;
    transform: scale(1.4, 1.4);
    animation: zoomimg 20s infinite;
  }
  
  @keyframes zoomimg {
    0% {
      transform: scale(1.2, 1.2);
    }
    50% {
      transform: scale(1.4, 1.4);
    }
    100% {
      transform: scale(1.2, 1.2);
    }
  }
  
  /* Bootsrap Carousel  */
  .bd-slider {
    width: 98%;
    margin: 0 auto;
    margin-top: 2px;
  }
  
  #carouselslider {
    margin: 0 auto;
  }
  
  .carousel-item:empty {
    display: none;
  }
  
  .carousel-item {
    text-align: center;
  }
  
  #bd-slider {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .carousel-caption h2 {
    font-size: 2em;
  }
  
  carousel-caption p {
    font-size: 1.5em;
  }
  
  .carousel-caption h2 {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0.5rem !important;
  }
  
  .carousel-caption p {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.9);
    padding: 10px;
  }
  
  .carousel-caption {
    width: 100% !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0px !important;
    margin: 0 auto;
  }
  
  .carousel-caption p:empty {
    display: none;
  }
  
  @media only screen and (orientation: portrait) {
    #bd-slider:fullscreen .capimg {
      display: flex;
      justify-content: center;
      align-items: stretch;
      height: 100% !important;
    }
  
    #bd-slider:fullscreen .capimg img {
      width: auto;
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }
  
  @media only screen and (orientation: portrait) {
    #bd-slider:fullscreen p {
      font-size: 2vh;
    }
  
    #bd-slider:fullscreen h2 {
      font-size: 5vh !important;
    }
  }
  
  @media only screen and (orientation: landscape) {
    #bd-slider:fullscreen p {
      font-size: 2.5vw;
    }
  
    #bd-slider:fullscreen h2 {
      font-size: 6vw !important;
    }
  }
  
  @media screen and (min-width: 0px) and (max-width: 500px) {
    .slide {
      transition: none;
      -o-transition: none;
      -webkit-transition: none;
      animation: none;
    }
  }
  
  /* Foliensteuerung*/
  .controlslides {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    text-align: center;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.8);
  }
  
  #bd-slider:fullscreen #expand-icon {
    display: none;
  }
  
  #compress-icon {
    display: none;
  }
  
  #bd-slider:fullscreen #compress-icon {
    display: inline;
  }
  
  #bd-slider:fullscreen {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
  }
  
  /* Listenansicht*/
  .flex-item img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    transform: scale(1.4, 1.4);
    animation: zoomimg 20s infinite;
  }
  
  .flex-item:hover img {
    filter: brightness(1.2);
  }
  
  .flex-item {
    width: 300px;
    height: 200px;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
    z-index: 1;
    -webkit-transform: translate3d(0, 0, 0);
  }
  
.userlink a {
    color: #979797!important;
}

  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1px;
  }
  