<div class="flex-item shadow" style="overflow: hidden;background-color: #f5f5f5;background: linear-gradient(to bottom, [[Farbe]], #fff);opacity:1.0;">
<div style="text-align:center;margin: 0 auto;background-color: rgba(0, 0, 0, 0.8);
color:  rgba(255, 255, 255, 0.9);position:absolute;width:300px;text-align:center;padding: 2px;overflow:hidden;z-index:2;border-top: 8px solid [[Farbe]];">
<p style="display: block;overflow: hidden;-moz-text-overflow: ellipsis;text-overflow: ellipsis;white-space: nowrap;margin-bottom:2px;" class="userlink">[[Thema]]<br>##more## ##edit## ##user##</p></div>[[Bild]]</div>

 